.post-box{
  padding: 10px;
  margin: 5px 3px 5px 3px;
  border-radius: 0 5px 5px 0;
  border-left: 2px solid rgba(150,150,150,0.3);
  box-shadow: 2px 2px 5px rgba(225,225,225,0.9);
}
.post-title{
  font-size: 15px;
  margin: 5px 0 5px 0;
  color: black;
}

.post-date{
  text-align: left;
  font-size: 12px;
  padding: 0 0 5px 0;
  color: rgba(100,100,100,1);
}


.post-box:hover{
  border-left: 2px solid #2EA9DF;
}
